<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <!-- var shortURL = "b2xvn2"; -->
  <p><%=shortURL%></p>
  <p><%=longURL%></p>
<form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
<input type="text" name="longURL"/>
<input type="submit" value="Submit"/>
</form>
</body>
</html>
